* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ebebeb;
}

.header {
    background-color: #c93030;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.sessao {
    float: left;
    width: 20%;
    height: 100%;
    background: #cecece;
    padding: 20px;
    padding-left: 10px;
}


.artigo {
    float: left;
    align-content: center;
    padding-left: 5%;
    padding-right: auto;
    width: 80%;
    background-color: #ebebeb;
    height: auto;
}



.produtos {
    display: list-item;
    list-style: none;
    padding-top: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: rgb(0, 0, 0);
    
}

.home {
    text-align: center;

    font-size: medium;
}

.anuncio {
    display: flex;
    margin-top: 5%;
    height: 900px;
    width: 80%;
    background-color: #c93030;
}

.imagem-atual {
    width: 800px;
    height: 700px;
    
}


.info-principal {
    background-color: antiquewhite;
    margin-left: 1%;
    width: 400px;
    height: 400px;
    
}