* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(1, 1, 10);
    background-color: #ebebeb;
}

.header {
    display: flex;

    background-color: #c93030;
    

    width: 100%;
    height: 100px;

    text-align: left;
    font-weight: 800;
    font-size: 35px;

    align-items: center;

    color: white;

    .nome-do-site {
        margin-left: 20px;
        height: min-content;
        width: 315px;

        font-size: 40px;

    }

    .buscar {

        margin-left: 20%;
        display: flex;
        align-items: center;

        height: max-content;
        width: max-content;

        .barra-completa {
                align-items: center;
                display: flex;
                
                background-color: #ebebeb;

                .imagem-lupa {
                    margin-left: 10px;
                    height: 30px;
                    width: 30px;
                    cursor: pointer;
                    
                }

                .separador {
                    background-color: #bdbdbd;
                    margin-left: 10px ;
                    height: 30px;
                    width: 1px;
                }

                .barra-busca {
                    margin-left: 5px;
                    font-weight: 900;
                    color: rgb(0, 0, 0);
                    height: 40px;
                    width: 500px;
                    
                    background-color: #ebebeb;
                    justify-content: center;
                    border: 0 none;
                }
            }
        }

        .carrinho {
            position: absolute;

            right: 20px;

            display: flex;

            height: 50px;
            width: 150px;
            
            align-items: center;
            

            .texto-carrinho {
                margin-left: 20px;
                font-size: 20px;
            }

            .imagem-carrinho {
                height: 30px;
                width: 30px;
            }
        }
}

.barra-principal {
    display: flex;
    background-color: #790909;

    width: 100%;
    height: 30px;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    color: white;
}

.sessao {
    float: left;
    width: 20%;
    height: 100%;
    background: #cecece;
    padding: 20px;
    padding-left: 10px;
    border-radius: 5px;
}

.titulo-pagina{
    font-size: 40px;
    padding-bottom: 50px;
}


.artigo {
    float: left;
    align-content: center;

    background-color: #ebebeb;


    margin-top: 10px;
    margin-left: 100px;


    height: max-content;
    width: max-content;
}


.linha-de-produtos {
    display: flex;
    margin-bottom: 20px;
    height: max-content;
    width: max-content;
}

.produtos {
    display: list-item;
    list-style: none;
    padding-top: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 500;
    color: rgb(1, 1, 10);

}

.foto-anuncio {
    align-self: center;
    height: 250px;
    width: 300px;
    
}

.info-produto{
    margin-left: 20px;
    padding-top: 10px;
}

.produto {
    
    text-align: left;
    height: 450px;
    width: 304px;
    margin-right: 20px;
    border: 2px;
    border-color: rgb(253, 253, 253);
    
    
    border-style: inset;
    
    
    .nome-do-produto {
        font-size: 20px;
    }
    
    .valor-produto {
        display: flex;
        height: min-content;
        width: min-content;
        margin-top: 15px;
       
    }
    
    .simbolo-cifrao {
        font-size: 10px;
        margin: 10px;
    }

    .valor-em-reais{
        position: relative;
        top: -35px;

        font-size: 40px;
    }

    .estrelas {
        display: flex;
        justify-content: left;
    }
    
    .estrela {
        width: 15px;
        height: 15px;
    }
    
    .estrela-incompleta {
        width: 15px;
        height: 15px;
    
        clip-path: inset(0% 45% 0% 0%);
    }
    
    
    
    .total-avaliacoes {
        font-size: 10px;
    }
    
}
