* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

.header {
    background-color: #c93030;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

.sessao {
    float: left;
    width: 20%;
    height: auto;
    background: #cecece;
    padding: 20px;
    padding-left: 10px;
}

.titulo {
    width: auto;
    height: auto;
}


.artigo {
    float: left;
    padding: 40px;
    width: 80%;
    background-color: #ebebeb;
    height: auto;
}

.barra-busca {
    width: 1000;
}

.produto {
    margin-right: 50px;
    margin-bottom: 50px;
}

.produtos {
    display: flex;
    padding-top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: rgb(0, 0, 0);
}

.linha-produtos {
    display: flex;
    color: black;
    font-style: bold;
}

.valor-produto{

    color: rgb(0, 0, 0);
    font-style: bold;
}

.titulo-pagina {

    
    text-align: left;
    font-size: 35px;
    width: auto;
    color: rgb(0, 0, 0);
}

.lupa {
    width: 10px;
    height: 10px;
}

.home {
    text-align: center;
    
    font-size: medium;
}